.nav { width:100%; background:#7d1ea7; height:60px;position:fixed;z-index:1000; }
.nav ul { list-style:none; }
.nav ul li { display:block;float:left;}
.nav ul li a:link,.nav ul li a:visited{display:block;color:#fff;padding:0 30px;height:60px;line-height:60px;text-decoration:none; font-size:16px;}
.nav ul li a:hover { color:#e4e4e4; background-color:#661788; }
.nav .logo { margin-right:80px; }
.logo img { height:30px; margin-top:12px; }
.banner { background-color:#f4e9f9;max-height:450px;width:100%; overflow:hidden; text-align:center;  }
.banner img { width:100%;}
.welcome { line-height:28px; border-bottom:1px solid #f3dbfd; padding-bottom:10px;margin-bottom:30px;  }
.welcome h2 { font-size:18px; color:#69407b; font-weight:bold; }
.welcome .home_icon { font-size:18px; color:#69407b; padding-right:10px;}
.welcome p { color:gray; font-size:16px; color:#8f56a9; }

.list { margin:20px auto; }
.list .title {font-size:24px; font-weight:bold;color:#337ab7; }
.list .title .ico { padding-right:20px;}
.list ul { list-style:none; }
.list ul li { padding:20px; margin:20px 0;width:80%; background-color:#f1f6fb; border-radius:10px; }
.list .pro_name { color:#337ab7;font-size:16px; margin-top:0px;}
.list .p_row { color:#000; line-height:32px; }
.list .p_row .key { width:120px;display:inline-block;}
.list .p_row .value { min-width:260px;_width:260px;display:inline-block;}
.p_row .ico { padding-right:10px;color:#6f6e6f;}
.dot_net { border-bottom:1px solid #c7e3fb; padding-bottom:20px; margin-bottom:30px; }

.java { border-bottom:1px solid #f7d7cc; padding-bottom:20px; }
.java .title { color:#d86038;}
.java .pro_name { color:#d86038; }
.java ul li { background-color:#fff9f7; }
.java .p_row .key { width:150px; }

.footer { width:100%; margin:10px 0 30px; text-align:center; }
.footer .copyright { color:#8649a2; line-height:28px;}